@import "tailwindcss";

:root {
  --font-inter: "Inter", sans-serif;
}

body {
  font-family: var(--font-inter);
}

button {
  cursor: pointer;
}

/* Hide scrollbar for Chrome, Safari and Edge */
::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for Firefox */
* {
  scrollbar-width: none; /* Firefox */
}

/* Hide scrollbar for IE and older Edge */
* {
  -ms-overflow-style: none;
}
